@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-dark-gray: #1a1a2e; /* Inner container background */
  --color-light-gray: #eaeaea; /* Outer container background */
  --color-accent: #58d68d; /* Optional accent color */
}
html,
body {
  background-color: var(--color-light-gray); /* Outer container background */
  color: white; /* Default text color */
  font-family: "Inter", sans-serif; /* Use your preferred font */
  margin: 4;
  padding: 4;
  height: 100%; /* Ensures body takes full screen height */
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Centers content vertically and horizontally */
}
.center-container {
  background-color: var(--color-dark-gray);
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-header {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Customize shadow */
}
